.common-font{
  font-size: 0.12rem;
}
.common-font14{
  font-size: 0.14rem;
}
.common-font16{
  font-size: 0.16rem;
}
.common-font18{
  font-size: 0.18rem;
}
.common-index-title-font{
  font-size: 0.18rem;
  font-weight: bold;
  color: red;
}
.flex-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inline-block{
  display: inline-block;
}
.display-none{
  display: none;
}
$indexsubtitle:#945677;
//$indextitle:red;
$bgcolor:#f4f6f6;

